<section  data-ng-submit= "postBlog(newBlog)">
  <form>
    <label for="blog_title">Headline/Title</label>
    <input data-ng-model="newBlog.title" id="blog_title" type="text" placeholder="Catchy Headline">
    <label for="blog_date">Date</label>
    <input data-ng-model="newBlog.date" id="blog_date" type="date">
    <label for="blog_keywords">Keywords</label>
    <input data-ng-model="newBlog.keywords" id="blog_keywords" type="text" placeholder="sportsball... etc.">
    <label for="blog_content">Content</label>
    <textarea data-ng-model="newBlog.content" id="blog_content" cols="30" rows="10" placeholder="Text goes here."></textarea>
    <button type="submit">Submit</button>
  </form>
</section>
<!-- New User : Just incase I want to add collaborators or something along those lines -->
<section data-ng-controller="AppCtrl" data-ng-init="getAllPosts()">
  <div>
    <h1>Sports With Josh</h1>
    <div data-ng-repeat="blog in blogs | orderBy: '-date'">
      <!-- <img data-ng-src="{{blog.titleImage}}"> -->
      <h3>{{blog.title}}</h3>
      <p>Posted on {{blog.date | date: 'M/dd/yyyy'}}</p>
      <a href="#/blogs/{{blog._id}}"><h3>Edit Post</h3></a>
    </div>
  </div>
</section>
<section data-ng-submit="submitSignUp(newUser)">
  <h1>New User Sign Up</h1>
  <form>
    <label for="user_name">UserName</label>
    <input data-ng-model="newUser.username" id="user_name" type="text" placeholder="Username">
    <label for="user_email">email</label>
    <input data-ng-model="newUser.email" id="user_email" type="email" placeholder="you@url.com">
    <label for="user_password">Password</label>
    <input data-ng-model="newUser.password" id="user_password" type="password" placeholder="************">
    <button type="submit">Submit</button>
  </form>
</section>
<a href ng-click="logMeOut()">Log Out</a>
