<section data-ng-controller="AppCtrl" data-ng-init="getAllPosts()">
  <div>
    <h1>Sports With Josh</h1>
    <div data-ng-repeat="blog in blogs | orderBy: '-date'">
      <!-- <img data-ng-src="{{blog.titleImage}}"> -->
      <a href="#/blogs/{{blog._id}}"><h3>{{blog.title}}</h3></a>
      <p>{{blog.date | date: 'M/dd/yyyy'}}</p>
      <!-- <p>Author: {{blog.author}}</p>
      <p>Keywords: {{blog.keywords[0]}}</p> -->
      <p>{{blog.content}}
       <!--  <span style="float:left; max-width:200px;">
          <img data-ng-src="{{blog.primary}}">
        </span> -->
      </p>
      <!-- <img data-ng-src="{{blog.secondary}}">
      <p>Article Id: {{blog._id}}</p> -->
    </div>
  </div>
</section>
