<section data-ng-submit="submitSignIn(user)">
  <h1>Sports With Josh</h1>
  <form>
    <label for="user_username" class="login_label">Admin</label>
    <input data-ng-model="user.username" id="user_username" type="text" placeholder="Username">
    <label for="user_password" class="login_label">Password</label>
    <input data-ng-model="user.password" id="user_password" type="password" placeholder="************">
    <button type="submit" class="login_label login_button">Submit</button>
  </form>
</section>
