<header>
    <img src="images/Josh.png" alt="Josh Logo" id="photo_Josh">
    <h1 id="header_Josh">Sports With Josh</h1>
</header>
<h2 class="admin_h2" id="new_Post">New Post</h2>
<section  data-ng-submit= "postBlog(newBlog)" class="admin_sections">
  <form>
    <label for="blog_title" class="blog_label">Title</label>
    <input data-ng-model="newBlog.title" id="blog_title" type="text" placeholder="Name Of Article">
    <label for="blog_description">Secondary Description</label>
    <input data-ng-model="newBlog.description" id="blog_description" type="text" placeholder="Description">
    <label for="blog_date" class="blog_label">Date</label>
    <input data-ng-model="newBlog.date" id="blog_date" type="date">
    <label for="blog_keywords" class="blog_label">Keywords</label>
    <input data-ng-model="newBlog.keywords" id="blog_keywords" type="text" placeholder="Sports Chicago Cubs">
    <label for="blog_content" class="blog_label">Content</label>
    <textarea data-ng-model="newBlog.content" id="blog_content" cols="30" rows="10" placeholder="Write The Article"></textarea>
    <button type="submit" class="edit_button">Submit</button>
  </form>
</section>
