<section data-ng-controller="AppCtrl" data-ng-init="getBlog()">
  <div>
    <h2 class="admin_h2">Edit/Delete</h2>
    <div>
      <!-- <h3>{{blog.title}}</h3> -->
      <!-- <img data-ng-src="{{blog.titleImage}}"> -->
      <!-- <p>Posted on {{blog.date | date: 'M/dd/yyyy'}}</p>
      <p>Author: {{blog.author}}</p>
      <p>Keywords: {{blog.keywords[0]}}</p>
      <p>{{blog.content}}</p> -->
     <!--  <img data-ng-src="{{blog.primary}}">
      <img data-ng-src="{{blog.secondary}}">
      <p>Article Id: {{blog._id}}</p> -->
      <form data-ng-submit="editBlog(blog)" id="my Edits">
        <label for="edit_Title" class="edit_label">Title</label>
        <input type="text" id="edit_Title" data-ng-model="blog.title"/>
        <label for="blog_description" class="edit_label">Secondary Description</label>
        <input type="text" id="edit_description" data-ng-model="blog.description">
        <label for="edit_Date" class="edit_label">Date</label>
        <input type="text" id="edit_Date" data-ng-model="blog.date"/>
        <label for="edit_Content" class="edit_label">Content</label>
        <textarea type="text" id="edit_Content" data-ng-model="blog.content"></textarea>
        <button type="button" class="edit_button" data-ng-click="adminReturn()">Cancel</button>
        <button type="submit" class="edit_button">Update</button>
        <button data-ng-click="removeBlog(blog)" class="edit_button" id="edit_delete">Delete</button>
      </form>
    </div>
  </div>
</section>
