<section data-ng-controller="AppCtrl" data-ng-init="getBlog()">
  <div>
    <header>
      <img src="images/Josh.png" alt="Josh Logo" id="photo_Josh">
      <a href="#/articles" class="header=h1"><h1 id="header_Josh">Sports With Josh</h1></a>
    </header>
    <div class="individualBlog">
      <h3 class="article_h3">{{blog.title}}</h3></a>
      <p class="article_date">Posted: {{blog.date | date: 'M/dd/yyyy'}}</p>
      <!-- <p>Author: {{blog.author}}</p>
      <p>Keywords: {{blog.keywords[0]}}</p> -->
      <p class="article_content">{{blog.content}}</p>
      <a href="#/articles"><p id="singleview_p">Back</p></a>
    </div>
  </div>
</section>
